<odoo>
	<data noupdate='0'>
		<menuitem id="menu_root" name="OVPN"/>

		<record id='ovpn_sites_action' model='ir.actions.act_window'>
			<field name='name'>Sites</field>
			<field name='res_model'>ovpn.site</field>
			<field name='view_mode'>tree,form</field>
		</record>
		<menuitem parent="menu_root" id="menu_ovpn_sites" action="ovpn_sites_action"/>

		<record id='members_action' model='ir.actions.act_window'>
			<field name='name'>Members</field>
			<field name='res_model'>ovpn.member</field>
			<field name='view_mode'>tree</field>
			<field name="help"><![CDATA[<p> Nothing found!</p>]]></field>
		</record>
		<menuitem parent="menu_root" id="menu_members" action="members_action"/>

	</data>
</odoo>
